canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid black;
}

div.toolbar{
  text-align: center;
}

.tools{
  margin:auto
}


/* body {
} */

#show{
  display:block;
}

#sketchpad {
  justify-content: center;
}

/* .toolbar {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
} */

.toolbar .color-field {
  height: 40 px;
  width: 40 px;
  min-height: 40px;
  max-height: 40px;
  cursor: pointer;
  margin: 5px 5px
}

.toolbar .brush-size {
  vertical-align: middle;
  width: 100 px;
  margin: 5px 5px
}

.toolbar .brush-size-display {
  vertical-align: middle;
  width: 75px;
  margin: 5px 5px;
  text-align: right
}

.toolbar .color-picker {
  vertical-align: middle;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid thistle;
  display:inline-block;
  min-height: 40px;
  max-height: 40px;
  cursor: pointer;
  margin: 5px 5px
}

.toolbar .button {
  vertical-align: middle;
  border: 1px solid thistle;
  margin: 5px 5px
}

